albumentations
beautifulsoup4
dash
dash-bootstrap-components
geopandas
geopy
matplotlib
mysql-connector-python
numpy
opencv-python
openmeteo-requests
osmnx
pandas
paramiko
plotly
pygame
rasterio
requests
requests-cache
retry-requests
scikit-learn
segmentation-models-pytorch
selenium
shapely
torch
torchvision
tqdm
